/* RESET/BASIC STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --white: #ffffff;
    --light-grey: #edf0f1;
    --violet: #655be1;
    --dark-violet: #5146e1;
    --black: #21232a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}





/* MAIN STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.nav1 [type="checkbox"] {
    position: absolute;
    left: -9999px;
}

.nav1 [type="checkbox"]+label {
    position: relative;
    width: 5px;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    background: transparent;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all 0.2s;
}

.nav1 [type="checkbox"]+label:hover {
    background: transparent;
}

.menu li {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
    
}

.menu li:nth-child(1) {
    transition-delay: 0.2s;
}

.menu li:nth-child(2) {
    transition-delay: 0.15s;
}

.menu li:nth-child(3) {
    transition-delay: 0.1s;
}

.menu li:nth-child(4) {
    transition-delay: 0.05s;
}

.menu li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;

}

.menu li a span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(calc(-100% - 5px));
    width: 100%;
    font-size: 13px;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    color: white;
    font-weight: bold;
    text-align: center;
}

.nav1 input:checked+label {
    background: var(--black);
    transform: translateY(calc(-50% + 4px));
}

.nav1 input:checked~.menu li:nth-child(1) {
    top: 75px;
    transition-delay: 0.1s;
}

.nav1 input:checked~.menu li:nth-child(2) {
    top: 50px;
    left: calc(50% - 75px);
    transition-delay: 0.2s;
}

.nav1 input:checked~.menu li:nth-child(3) {
    top: 50px;
    left: calc(50% + 75px);
    transition-delay: 0.3s;
}


.nav1 input:checked~.menu li:nth-child(4) {
    top: 175px;
    transition-delay: 0.4s;
}

@media (max-width: 575px) {
   .nav1 input:checked~.menu li:nth-child(1) {
       top: -10px;
    left: 75px;
    transition-delay: 0.1s;
    
}

.nav1 input:checked~.menu li:nth-child(2) {
    top:  -10px;
    left: 40px;
    
    transition-delay: 0.2s;
}

.nav1 input:checked~.menu li:nth-child(3) {
    top:  -10px;
    left: 110px;
    
    transition-delay: 0.3s;
}


.nav1 input:checked~.menu li:nth-child(4) {
    top: 0;
    top: 175px;
    transition-delay: 0.4s;
}
}

.nav1 input:checked~.menu li a span {
    opacity: 1;
    transition-delay: 0.9s;
}

.menu li {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    /* Dodaje se tranzicija za opacity i odlaže promena visibility */
    transition: all 0.4s;
}

.nav1 input:checked~.menu li {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s, visibility 0s linear 0s;
    /* Uklanja se kašnjenje za visibility */
    transition: all 0.4s;
}

.menu li a img {
    width: 30px;
    /* Prilagodite širinu slike originalnoj veličini ikonice */
    height: 30px;
    /* Prilagodite visinu slike originalnoj veličini ikonice */
    border-radius: 50%;
    /* Čini slike okruglima */
    object-fit: cover;
    /* Osigurava da slike ostanu proporcionalne */
}

.nav1 label i {
    display: inline-block;
    width: 30px;
    /* Širina ikonice */
    height: 30px;
    /* Visina ikonice, ista kao širina za oblik kruga */
    border-radius: 50%;
    /* Pravi krug */
    background-position: center;
    /* Centrira sliku */
    background-repeat: no-repeat;
    /* Sprečava ponav1ljanje slike */
    background-size: cover;
    /* Osigurava da slika pokrije ceo prostor, moguće je obrezivanje */
}

.nav {
    
    position: relative;
    /* Potrebno ako već nije postavljeno */
    z-index: 1000;
    /* Postavite visoku vrednost za z-index */
    /* Ostali stilovi... */
}

.menu {
    
    position: absolute;
    /* Osigurava da se .menu ne ograničava veličinom .nav */
    z-index: 1001;
    /* Opciono, ako je potrebno da .menu ima veći z-index od .nav */
    /* Ostali stilovi... */
}

.nav1 [type="checkbox"]+label {
    width: 30px;
    /* Prilagodite širinu */
    height: 30px;
    /* Prilagodite visinu */
    /* Ostali stilovi... */
}

/* dodato */
.language-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }


  .selected-language {
    margin-left: 10px; /* Dodaje malo prostora između ikonice i teksta */
    font-weight: bold; /* Čini tekst podebljanim */
    color: #f0f0f0; /* Promenite boju teksta u crvenu */
    /* Dodajte bilo koja dodatna CSS pravila koja želite */
  }
  
  

